{{ define "main" }}
{{ partial "inner-header.html" . }}

<section class="py-5" style="background-color: #e0e0e0;">
  <div class="container">
    <div class="text-center mb-4">
      <h2 class="text-uppercase line-bottom-center mt-0">Media <span class="text-theme">Coverage</span></h2>
    </div>
    <div class="bg-white p-3 rounded">
      <div class="gallery-grid">
        <img src="https://wncindia.org/images/media/WNC_Bird_Survey_Indore.jpg" alt="WNC Bird Survey Indore">
        <img src="https://wncindia.org/images/media/WNC_Butterfly_Survey.jpg" alt="WNC Butterfly Survey">
        <img src="https://wncindia.org/images/media/WNC_Photo_Selection_Ritesh_.jpg" alt="WNC Photo Selection">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_1.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_2.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_3.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_4.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_5.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_6.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_7.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_8.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_9.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_10.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_11.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/New Doc 2019-08-25 19.24.51_12.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/Media_Coverage_13.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/Media_Coverage_14.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/Media_Coverage_15.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/Media_Coverage_16.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/Media_Coverage_17.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/Media_Coverage_18.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/Media_Coverage_19.jpg" alt="Media Coverage">
        <img src="https://wncindia.org/images/media/Media_Coverage_20.jpg" alt="Media Coverage">
      </div>
    </div>
  </div>
</section>
{{ end }}
