{{/* Inner page banner with parallax effect and breadcrumb */}}
{{ $bgImage := .Params.banner | default "https://wncindia.org/images/bg1.jpg" }}
<section class="inner-header" style="background-image: url('{{ $bgImage }}');">
  <div class="container pt-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="{{ "/" | relURL }}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
      </ol>
    </nav>
  </div>
</section>
